name: Build Docx/PDF

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
      - run: >
          for manual in  Water_Level ADCP; do pixi run pdf "${manual}"; done
          && for manual in  Water_Level ADCP; do pixi run docx "${manual}"; done

      - name: Upload artifacts to Github
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: compiled_manuals/

      - name: Upload artifacts to Github release
        if: success() && github.event_name == 'release'
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2.11.3
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: compiled_manuals/*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
