name: Build page

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # fetch all commits/branches

      - name: Setup Micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: QARTOD
          environment-file: environment.yml
          init-shell: bash

      - name: Build
        shell: bash -l {0}
        run: >
          set -e
          && mkdocs build --clean --verbose

      - name: Setup Git
        shell: bash -l {0}
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy released docs
        if: success() && github.event_name == 'release'
        shell: bash -l {0}
        run: >
          mike deploy --push --update-aliases ${{  github.ref_name }} latest
          && mike set-default --push latest

      - name: List
        shell: bash -l {0}
        run: mike list
