name: Build Docx/PDF

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: QARTOD
          environment-file: environment.yml
          init-shell: bash

      - name: Build
        shell: bash -l {0}
        run: >
          pushd docs/
          && mkdir -p compiled_manuals
          && pandoc Water_Level.md --from=markdown --output=Water_Level.pdf --to=pdf --pdf-engine=tectonic
          && pandoc Water_Level.md --from=markdown --output=Water_Level.docx --to=docx
          && pandoc ADCP.md --from=markdown --output=ADCP.pdf --to=pdf --pdf-engine=tectonic
          && pandoc ADCP.md --from=markdown --output=ADCP.docx --to=docx
          && mv *.{docx,pdf} compiled_manuals/
          && popd

      - name: Upload artifacts to Github
        uses: actions/upload-artifact@v3
        with:
          path: docs/compiled_manuals/

      - name: Upload artifacts to Github release
        if: success() && github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: docs/compiled_manuals/Water_Level.*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
