name: Build page

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0 # fetch all commits/branches

      - uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
      - run: >
          pixi run mkdocs

      - name: Setup Git
        shell: bash -l {0}
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy released docs
        if: success() && github.event_name == 'release'
        run: >
          mike deploy --push --update-aliases ${{  github.ref_name }} latest
          && mike set-default --push latest
        shell: pixi run bash -e {0}

      - name: List
        run: mike list
        shell: pixi run bash -e {0}
